<header class="main-header">
    <nav class="navbar">
        <ul class="listClass">
            <li class="listItemClass">
                <a class="<%= path ==='/' ? 'active' : '' %>" href="/">User List</a>
            </li>
            
            <li class="listItemClass">
                <a class="<%= path ==='/add-user' ? 'active' : '' %>" href="/add-user">Add User</a>
            </li>
        </ul>
    </nav>
</header>