<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/users.css" />

    <title>User List</title>
  </head>

  <body>
    <%- include('includes/navbar.ejs') %>
    <h1>Attendence</h1>
    <ul class="listItems">
     
        <% for (let presentUser of presentUsers) { %>
      <div class="div">    
        <li> 
        <%=presentUser%>    
        </li>  
      </div>
      <% } %>
    
    </ul>
  </body>
</html>
